@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* font-family: sans-serif; */
  font-family: "Nunito", sans-serif;
  /* border:1px solid red; */
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  background-color: gainsboro;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(78, 78, 78);
  border-radius: 10px;
}

*::selection {
  background-color: rgb(133, 83, 232);
  color: #fff;
}
@keyframes hoverAnimation {
  0% {
    transform: rotate(-90deg) translateX(-100%) translateY(12px);
  }
  100% {
    transform: rotate(-90deg) translateX(-100%) translateY(0);
  }
}
